body {
  background: #fff;
  font-size: 15px;
  font-family: 'Noto Sans', 'Noto Sans JP', Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.header {
  padding: 20px 70px 15px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .gnav__list {
  display: flex;
  gap: 30px;
}
.header .gnav__list .gnav__item {
  list-style: none;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.header .gnav__list .gnav__link {
  text-decoration: none;
  color: #333;
}
.header .gnav__list .gnav__link--active {
  text-decoration: none;
  color: #dd1b57;
}
.mv {
  background-image: url(img/pc_bg_mv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mv .mv__title-area {
  text-align: center;
  text-shadow: 0 4px 6px #00000024;
}
.mv .mv__title-area .mv__title {
  font-size: 160px;
  margin-bottom: -20px;
}
.mv .mv__title-area .mv__subtitle {
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 1;
}
.content {
  padding: 70px 165px 100px 165px;
}
.content .news {
  column-gap: 96px;
  display: flex;
  margin-bottom: 80px;
}
.content .news .news__title {
  color: #DD1B57;
  font-size: 40px;
}
.content .news .news__body {
  width: 75%;
  margin-bottom: 15px;
}
.content .news .news__body .news-list {
  list-style: none;
}
.content .news .news__body .news-list .news-list__item {
  border-bottom: solid #EDEDED 1px;
  padding: 20px 0;
}
.content .news .news__body .news-list .news-list__item .news-list__link {
  display: flex;
  column-gap: 40px;
  text-decoration: none;
  color: #151515;
}
.content .news .news__body .news-list .news-list__item--top {
  padding-top: 0px;
}
.content .service::before {
  content: "SERVICE";
  font-size: 168px;
  font-weight: bold;
  color: #F2F2F2;
  z-index: -1;
  position: absolute;
  top: -60px;
  right: 20px;
}
.content .service {
  position: relative;
}
.content .service .service__title {
  color: #DD1B57;
  font-size: 40px;
  margin-bottom: 58px;
}
.content .service .service-list {
  display: flex;
  justify-content: space-around;
}
.content .service .service-list .service-list__item {
  background-color: #fff;
  width: 350px;
  height: 260px;
  border-radius: 8px;
  box-shadow: 0 3px 21px #00000024;
  padding: 50px;
  text-align: center;
}
.content .service .service-list .service-list__item .material-icons-round {
  color: #dd1b57;
  font-size: 48px;
  vertical-align: bottom;
}
.content .service .service-list .service-list__item .service-list__title {
  margin-bottom: 19px;
}
.footer {
  color: #fff;
  background-color: #DD1B57;
  padding: 64px 165px 50px 165px;
}
.footer .footer-list {
  display: flex;
  list-style: none;
  gap: 40px;
  padding-left: 0;
}
